[Unit]
Description=Slack Thread Summarizer Service
After=network.target

[Service]
User=debian
WorkingDirectory=/home/debian/slack-app-demo
ExecStart=/home/debian/slack-app-demo/venv/bin/gunicorn --bind 0.0.0.0:8080 --workers 2 app:app
Restart=always

[Install]
WantedBy=multi-user.target